/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@1&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  /* Body is the height of the viewport */
  /* overflow: hidden; */
  background-color: black;
  font-family: monospace;
  background: url("https://i.pinimg.com/originals/53/9c/48/539c483ff16585f1014ce8bff226bc56.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 70%;
  align-self: center;
  margin: auto;
  margin-top: 3%;
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #ffffff;
}

textarea {
  resize: none;
  font-family: monospace;
}

#prompt {
  text-align: center;
  color: white;
  padding: 2%;
  resize: none;
}

/* text box */
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #3a3a3a;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  /* height: 100px; */
  width: 100%;
  font-size: 16px;
  padding: 0px;
  margin: auto;
  font-family: monospace;
  border-radius: 10px;
}

.intro {
  width: 50%;
  margin-bottom: 5%;
  text-align: center;
}

video {
  margin: auto;
  position: relative;
  bottom: 118%;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button */
input[type="submit"] {
  width: 100%;
  background-color: #3d3d3d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* button hover */
input[type="submit"]:hover {
  background-color: #7e7e7e;
}

#mainContainer {
  width: 60%;
}

/* submission box */
div {
  background-color: #111111;
  padding: 5px;
  margin: auto;

  display: flex;

  justify-content: center;
  align-items: center;
}

.images-container {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 5%;
  margin-top: 5%;
  border: 2px solid #ffffff;
}

#images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imgStory {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imgPrompt {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h5 {
  color: white;
}

#prompt {
  color: white;
  font-family: monospace;
}

h4 {
  color: white;
  font-family: monospace;
}

#description {
  padding-top: 10px;
  padding-left: 5px;
}

.button {
  margin: auto;
  position: relative;
  border: none;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  line-height: 1;
  cursor: pointer;
  transition: transform 200ms, background 200ms;
  font-family: monospace;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
  transform: translateY(-5px);
}

h2 {
  font-size: 18pt;
}

p {
  color: white;
}

#narrativeBit {
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: monospace;
  font-size: 40pt;
  color: #ffffff;
  text-align: center;
  margin: 10px;
}

.startScreen {
  width: 100%;
  align-self: center;
  margin: auto;
  margin-top: 20%;
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #ffffff;
}

/* below taken from https://codepen.io/iceable/pen/yLBrZOd */
.bg {
  z-index: -2;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

/* above taken from https://codepen.io/iceable/pen/yLBrZOd */
